<!DOCTYPE html>
<html>
<head>
  <title>Usernames</title>
</head>
<body>
  <h1>Usernames</h1>

  <!-- Search form -->
  <form method="GET" action="/">
    <input type="text" name="search" placeholder="Search usernames..." value="<%= search || '' %>">
    <button type="submit">Search</button>
  </form>

  <!-- User list -->
  <ul>
    <% if (usernames.length > 0) { %>
      <% usernames.forEach(user => { %>
        <li><%= user.username %></li>
      <% }) %>
    <% } else { %>
      <li>No users found</li>
    <% } %>
  </ul>

  <!-- Delete button -->
  <form action="/delete" method="POST">
    <button type="submit" style="color:red;">Delete All Users</button>
  </form>

  <br>
  <a href="/new">Add New User</a>
</body>
</html>
