<!DOCTYPE html>
<html>
<head>
  <title>Add New User</title>
</head>
<body>
  <h1>Add a Username</h1>
  <form action="/new" method="POST">
    <label for="username">Username: </label>
    <input type="text" id="username" name="username" required>
    <button type="submit">Save</button>
  </form>
</body>
</html>
